<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <title>SportsStore</title>
</head>
<body>
    <div class="about-section">
        <h1>Our Background</h1>
        <br />
        <h5>Our Mission:</h5>
        <p>
            at OspreyOutfitters, our mission is to provide high quality, clothing and accessories that will keep you in trend.

            At the heart of our business is the platform we have created for all designers to showcase and market their creations to the world. Through OspreyOutfitters we offer clothing that fits your sense of style.  With price comparison you get the best deal on clothes which are of good quality sold at reasonable prices.  You don't waste any effort you spend on looking and buying clothing and accessories that will suit your personal style.  Buy great clothing and accessories and be proud of it.
        </p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <br />
                    <h2>Milad Karimi</h2>
                    <p class="title">Chief Executive Officer</p>
                    <p>I tend to Osprey Outfitter's major needs and handle many operations to get the best products to you!</p>
                    <p>example@Ospreyoutfitters.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <br />
                    <h2>Stephanie El-Bahri</h2>
                    <p class="title">Chief Financial Officer</p>
                    <p>I keep up with Osprey Outfitters's finances to ensure we stay on track to continually improve our performance for our customers.</p>
                    <p>example@Ospreyoutfitters.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <br />
                    <h2>Ricardo Carrasco</h2>
                    <p class="title">President</p>
                    <p>I founded Osprey Outfitters and I work to implement our company's vision and deliver the best quality service possible.</p>
                    <p>example@Ospreyoutfitters.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <br />
                    <h2>Joanna Peters</h2>
                    <p class="title">Vice President</p>
                    <p>I am second to the President, overseeing department managers and their operations.</p>
                    <p>example@Ospreyoutfitters.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
