<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <title>SportsStore</title>
</head>
<body>
    <div class="faq-main-panel">
        <h4>FAQs</h4>
        <div class="faq-content-container">
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>                    
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>                    
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>                   
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>                    
            <div class="faq-content">
                <h5>How much will I be charged for shipping?</h5>
                <p>
                    This varies depending on the size, weight and destination of your chosen items,
                    and the cost will appear at the checkout. The good news is we offer One Shipping Fee for orders above a certain threshold
                    – this means you can purchase multiple pieces from multiple locations for one fee.
                </p>
            </div>
        </div>
    </div>
</body>
</html>